<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Reflected XSS (vulnerable)</title>
</head>
<body>
<h2>Reflected XSS (уязвимый)</h2>

<form th:action="@{/xss/reflected}" method="get">
  <input type="text" name="q" placeholder="Введите текст">
  <button type="submit">send</button>
</form>

<p>Вы ввели (отражено):
  <!-- УЯЗВИМО: raw HTML из пользователя -->
  <span th:utext="${query}"></span>
</p>

<p>Попробуй payload:
  <code>&lt;script&gt;alert('XSS')&lt;/script&gt;</code>
</p>

</body>
</html>
